<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/header'); %>
        <title>
            <%= guild.name %>
        </title>


</head>

<body>

    <%- include('partials/headbar'); %>

        <br><br>
        <div class="row">

            <center>
                <div class="col s6">
                    <div class="server-block-guild" title="<%= guild.name %>">
                        <%if (guild.icon) {%>
                            <img src="https://cdn.discordapp.com/icons/<%=guild.id%>/<%=guild.icon%>.png?size=128" class="bot-avatar rounded-circle" width="150px" height="150px">
                            <%}else{%>
                                <canvas class="bot-avatar rounded-circle" id="<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '') %>" width="150px" height="150px"></canvas>

                                <script>
                                    function createIcone() {
                                        const nameAcronym = document.getElementById("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>").getContext('2d');
                                        nameAcronym.font = '20px Arial';
                                        nameAcronym.textAlign = "center";
                                        nameAcronym.fillStyle = "white";
                                        nameAcronym.fillText("<%= guild.name.replace(/\w+/g, name => name[0]).replace(/\s/g, '')  %>", 75, 105);
                                    };
                                    createIcone();
                                </script>
                                <%}%>
                    </div>
                </div>
            </center>
            <div class="col s6">

                <h5>
                    <%= guild.name %>
                </h5>
                <p>
                    <strong>Propriétaire:</strong>
                    <%=guild.owner.user.tag%><br/>


                        <strong>ID:</strong>
                        <%=guild.id %><br/>


                            <strong>Nombre de membres:</strong>
                            <%=guild.memberCount%><br/>

                                <strong>Date de création:</strong>
                                <%=guild.createdAt.toUTCString()%><br />

                </p>



            </div>

        </div>



        <center>

            <h3>Que voulez-vous faire?</h3>
            <br>
            <a class="waves-effect waves-light btn-large" href="./<%=guild.id %>/tools"><i class="material-icons right">build</i>Utilitaire</a>




            <i>More soon...</i>

            <br>
            <br>
            <br>
        </center>


        <%- include('partials/footer'); %>

            <%- include('partials/scripts'); %>

</body>

</html>